%h1 Keuzeoverzicht Energiemodellen

#input
  %h4
    Selecteer welke onderdelen je nodig hebt:
    %a#wis{href: '#'} wis selectie
  #menu
    - draw_menu(Menu.new.hash)

#output
  %h4 De volgende modellen voldoen het beste aan jouw wensen:

  %table.table#output_table
    %tr
      %th model
      %th score
    - Model.all.each do |model|
      %tr{id: model.key}
        %td= t model.key
        %td.score 0 %
